.layout > div:first-child:not(.recent-posts) {
/* 以下代表白色透明度为0.3 */
  background: rgba(255,255,255,0.3);
}
/* 所有背景（包括首页卡片、文章页、页面页等） */
#recent-posts > .recent-post-item,
.layout > div:first-child:not(.recent-posts),
.layout_post > #page,
.layout_post > #post,
.read-mode .layout_post > #post {
/* 以下代表白色透明度为0.3 */
  background: rgba(255,255,255,0.6);
}
#web_bg {
  background: -webkit-linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  background: -moz-linear-gradient(0deg, 120deg, #a1c4fd 0%, #c2e9fb 100%);
  background: -o-linear-gradient(0deg, 120deg, #a1c4fd 0%, #c2e9fb 100%);
  background: -ms-linear-gradient(0deg, 120deg, #a1c4fd 0%, #c2e9fb 100%);
  background: linear-gradient(90deg, 120deg, #a1c4fd 0%, #c2e9fb 100%);
}
